{{ $url := .Get "url" }}
{{ $title := .Get "title" }}
{{ $description := .Get "description" }}
{{ $default_image := resources.Get "images/linkcard-default.jpeg" }}
{{ $param_image := .Get "image" }}
{{ $card_image := $default_image }}
{{ $page_image := .Page.Resources.GetMatch $param_image }}

{{ with $param_image }}
  {{ $site_image := resources.Get . }}
  {{ if $site_image }}
    {{ $card_image = $site_image }}
  {{ else }}
    {{ if $page_image }}
      {{ $card_image = $page_image }}
    {{ end }}
  {{ end }}
{{ end }}
{{ $card_image_webp := $card_image.Process "fill 300x300 webp" }}

<div class="link-card">
  <a href="{{ $url }}" target="_blank" rel="noopener noreferrer">
	<div class="link-card-content">
	  <div class="link-card-image">
		<img src="{{ $card_image_webp.RelPermalink }}" alt="{{ $title }}">
	  </div>
	  <div class="link-card-text">
		<h3>{{ $title }}</h3>
		<p>{{ $description }}</p>
	  </div>
	</div>
  </a>
</div>